body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url('img/fond.png') repeat;
    color: #2f4510;
}

.wrapper {
    max-width: 750px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    background-color: #a5c943;
    padding: 20px;
    overflow: hidden;
}

.header-container {
    overflow: hidden;
    padding: 1rem;
}

.logo {
    width: 20%;
    float: left;
    margin: 0;
}

nav {
    float: right;
    margin-top: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

nav ul li a {
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1em;
    transition: color 0.3s;
}


.container {
    padding: 20px;
}

section h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #b4d455;
    margin-bottom: 15px;
}

section h2 i {
    margin-right: 10px;
}

.float-left {
    float: left;
    width: 180px;
    margin: 0 10px 10px 0;
}

section p {
    color: #597900;
    text-align: justify;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.4em;
}

section ul {
    margin: 10px 0 20px 40px;
    padding: 0;
}

section ul li {
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    background-color: #9cbb47;
    color: white;
    text-decoration: none;
    padding: 10px 18px;
    margin-top: 15px;
    float: right;
    font-family: 'Oswald', sans-serif;
    transition: background 0.3s, transform 0.2s;
}

section::after {
    content: "";
    display: table;
    clear: both;
}
